{% extends 'base.html'%}
{%block content%}
<div class="column">

{% for followed in user.profile.follows.all %}
    {% for bubb in followed.user.bubbs.all %}
    <div class ="box">
        {{bubb.body}}
        <span class="is-small has-text-grey-light">
            ({{bubb.created_at}} by {{bubb.user.username}})
        </span>
    </div>

    {% endfor %}
{% endfor %}
</div>
<div class="column is-one-third">
    <form method="post">
        {%csrf_token%}
        <div class ="column">
            <div>
            <h2><strong>Add post:</strong></h2>
           </div>
            {{form}}
            <button class="button is-dark is-outlined is-fullwidth">submit</button>
        </div>
    </form>
    
</div>
{%endblock%}